*.o
*~
*.swp
*.swo
*.dSYM
a.out
tags
test
t
o
.DS_Store
mJoy/FishRes/*
mJoy/Prefix.pch
mJoy.xcodeproj/project.pbxproj
mJoy.xcodeproj/project.xcworkspace/xcuserdata/hy0kl.xcuserdatad/UserInterfaceState.xcuserstate
mJoy.xcodeproj/xcuserdata/hy0kl.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
mJoy/Resources/*
mJoy/libs/*
